.YourLoans_container {
  margin-top: 30px;
}
.YourLoans_container_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  color: white;
}
.YourLoans_container_data_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.YourLoans_container_data_left img {
  height: 70px;
  display: flex;
  margin-right: 25px;
}

.YourLoans_container_data_left_right h2 {
  font-size: 23px;
  font-weight: 600;
}

.YourLoans_container_data_left_right p {
  font-size: 17px;
  font-weight: 600;
  margin-top: -15px;
  color: #2dcee5;
}

.YourLoans_container_data_right p {
  background-color: #061113;
  color: #2bb6cb;
  padding: 5px 14px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
}
